#Caja
{

background: #f0f0f0;
width: 250px;
border: 1px solid white;
padding: 30px;
margin: 200px auto;
 border-radius: 6px;  
max-width: 500px;
}
body
{
background-image: url("/img/footer1.jpg");

}
h1
{
font-family: arial;
color: #000000;
}
input[type=text],input[type=password]
{
display: block;
border-radius: 3px;
padding: 5px 0;
width: 100%;
}
input[type=submit]
{
 background: linear-gradient(#acacac, #fceecf);
 border: 0;
 width: 100%;
color: black;
 opacity: 0.8;
cursor: pointer;
 border-radius: 20px;
 margin-bottom: 0;
}
input[type=submit]:hover{

 opacity: 1;

 }
 input[type=submit]:active{

 transform: scale(0.95);
}    